<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='_css/style.css') }}">

    {% if stylesheet_url %}
        <link rel="stylesheet" href="{{ stylesheet_url }}.css">
    {% endif %}

</head>

<body>
    <div id="root_singular" hx-get="{{ path }}" hx-trigger="load">

    </div>

    <div class="overlay_">

    </div>

    <script src="{{ url_for('static', filename='_js/htmx.js') }}"></script>
    <script src="{{ url_for('static', filename='_js/app.js') }}"></script>

</body>

</html>